.login-container{
	/* display: flex; */
	position: relative; 
	text-align: center;
	/* justify-content: center; */
	height: 120px;
	/* width: 400px; */
	left: 0%; 
	top: 200px; 
	bottom: 50%;
	background-color: white;
	opacity: 0.85;
}